<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout/main.html}">

<div layout:fragment="site_content" >
    <div class="row mt-5">
        <div class="col-12">
            <h1>Requests</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>tour</th>
                    <th >user</th>
                    <th>date</th>
                    <th>ph number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="it:${requests}">
                    <td th:text="${it.id}"></td>
                    <td th:text="${it.getShopItems().name}"></td>
                    <td th:text="${it.getUser().email}"></td>
                    <td th:text="${it.date}"></td>
                    <td th:text="${it.phNumber}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
</html>